* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 3em;
}

header h2 {
    font-size: 1.2em;
    color: #f39c12;
}

header a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

header a:hover {
    background-color: #f39c12;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f39c12;
}

.search-box {
    display: flex;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}

main {
    height: auto;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias filas */
    justify-content: space-around; /* Centra los elementos */
    gap: 10px; /* Espacio entre los elementos */
    margin: 0 20px;
}

.menu-item {
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 20%; /* Las imágenes ocupan el 20% del ancho */
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item p {
    margin-top: 10px;
    font-size: 1em;
    color: #280808;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    padding: 2% 10px;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
    }

    .menu-item {
        width: 45%; /* Ajustamos el tamaño en pantallas pequeñas */
    }

    footer {
        text-align: center;
    }
}
