* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-right: 30px;
}

header h2 {
    font-size: 1.2em;
    color: #f39c12;
}

header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s;
}

header a:hover img {
    transform: scale(1.1);
}

nav {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f39c12;
}

.search-box {
    display: flex;
}

#search-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}

main {
	height: 500px;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.menu-item {
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #280808;
}

.menu-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: #f39c12;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
    }

    .menu-item {
        width: 80%;
        margin: 10px auto;
    }
}
