* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; 
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 20px;
    position: relative;
    width: 100%;
}

header h1 {
    font-size: 3em;
    flex: 1; 
}

header h2 {
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1.2em;
    color: #f39c12;
    margin: 0; 
    padding: 0; 
}

header h2:first-of-type {
    margin-right: 10px; 
}

header a {
    position: relative;
    display: flex;
    gap: 10px;
    color: white;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #f39c12;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f39c12;
}

.search-box {
    display: flex;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}


main {
    margin: auto;
    width: 96.062992125%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 1.968%;
    position: relative;
}

h2.main-title {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.7);
}

.menu-item {
    background-color: rgb(228, 228, 201);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 25%;
    box-sizing: border-box;
}


.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.menu-item p {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    font-size: 1em;
    font-weight: bold;
}

.menu-item.dark p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

footer {
    background-color: #333;
    color: white;
    padding: 2% 10px;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: #f39c12;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        margin-bottom: 10px;
    }

    header h2 {
        margin-bottom: 5px;
    }

    header a {
        margin-top: 10px;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 5px;
    }

    .menu {
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    .menu-item {
        max-width: fit-content; 
        margin-bottom: 15px; 
        display: flex;
        justify-content: center; 
    }

    
    .menu-item img {
        width: 90%; 
        max-width: 300px; 
        height: auto; 
        min-width: 150px; 
        border-radius: 8px;
    }

    footer {
        text-align: center;
    }
}
