* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f1efec;
    font-family: Arial, sans-serif;
    display: block;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
}

header h1 {
    font-size: 3em;
    margin-right: 20px;
    flex: 1;
}

header h2 {
    font-size: 1.2em;
    color: #f39c12;
    margin-left: 15px;
    padding: 0;
}

header a {
    position: relative;
    text-decoration: none;
    display: flex;
    color: white;
    border-radius: 5px;
}

header a:hover {
    background-color: #f39c12;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f39c12;
}

.search-box {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.col-3, .col-6, .col-12 {
    padding: 15px;
}

.novedades {
    display: grid;
    justify-items: center;
    text-align: center;
    margin: 20px 0;
}

.novedades img {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 20%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    border: 1px rgba(255, 255, 255, 0.8);
}

.novedades a:hover img {
    transform: scale(1.05);
}

.novedades a {
    display: block;
    text-decoration: none;
    color: black;
}

.aside {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 2% 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer p {
    font-size: 1em;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

@media only screen and (max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }

    .col-3 {
        grid-column: span 1;
    }

    .col-6 {
        grid-column: span 1;
    }

    .col-12 {
        grid-column: span 1;
    }

    .aside {
        grid-column: span 1;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .row {
        grid-template-columns: 1fr 1fr;
    }

    .col-3 {
        grid-column: span 1;
    }

    .col-6 {
        grid-column: span 1;
    }

    .aside {
        grid-column: span 2;
    }
}

@media only screen and (min-width: 1024px) {
    .row {
        grid-template-columns: 3fr 6fr 3fr;
    }

    .col-3 {
        grid-column: span 1;
    }

    .col-6 {
        grid-column: span 1;
    }

    .col-12 {
        grid-column: span 1;
    }

    .aside {
        grid-column: span 1;
    }
}
