
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #f1efec;
    font-family: Arial, sans-serif;
    display: block;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  
  header h1 {
    font-size: 3em;
    margin-right: 20px;
    flex: 1;
  }
  
  header p {
    font-size: 1.2em;
    margin-left: 15px;
    color: #f39c12;
  }
  
  header a {
    position: relative;
    text-decoration: none;
    display: flex;
    color: white;
    border-radius: 5px;
  }
  
  a:hover {
    background-color: #f39c12;
  }


nav {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #f39c12;
}


.search-box {
    display: flex; 
    align-items: center;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto; 
    grid-gap: 15px; 
    width: 100%;
    padding: 20px;
}

.col-3 {
    grid-column: span 3; 
}

.col-6 {
    grid-column: span 6; 
}

.col-12 {
    grid-column: span 12; 
}


.menu img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.aside {
    background-color: #333;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 14px;
}


footer {
    background-color: #333;
    color: white;
    padding: 2% 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

footer p {
    font-size: 1em;
}


@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
    }

    .col-3 {
        grid-column: span 12; 
    }

    .col-6 {
        grid-column: span 12; 
    }

    .col-12 {
        grid-column: span 12; 
    }
}
