* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
    position: relative;
    width: 100%; 
}

header h1 {
    font-size: 3em;
    margin-right: 20px;
    flex: 1;
}

header h2 {
    font-size: 1.2em;
    color: #f39c12;
    margin-left: 15px; 
    padding: 0;
}

header a {
    position: relative;
    text-decoration: none;
    display: flex;
    color: white;
    border-radius: 5px;
}

a:hover {
    background-color: #f39c12;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f39c12;
}

.search-box {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 250px; 
    margin-right: 10px; 
}

.search-button {
    padding: 8px 12px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #e67e22;
}


main {
    margin: auto;
    width: 96.062992125%;
    flex-grow: 1;
    min-height: 500px;
    padding: 20px;
}

.payment-options {
    text-align: center;
}

.payment-options h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}


.payment-option span {
    font-size: 1.2em;
}

#next-btn {
    padding: 12px 20px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
}

button#next-btn:hover {
    background-color: #e67e22;
}

.home-button {
    text-align: center;
    margin-top: 30px;
}

button#home-btn {
    padding: 12px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}

button#home-btn:hover {
    background-color: #f39c12;
}

footer {
    background-color: #333;
    color: white;
    padding: 2% 10px;
    text-align: center;
    margin-top: auto;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}



@media (max-width: 1200px) {
    header h1 {
        font-size: 2.5em;
    }

    .payment-options h2 {
        font-size: 1.8em;
    }

    .payment-option {
        flex-direction: column;
        align-items: center;
    }

    .payment-option img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    button#next-btn {
        width: 100%;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .payment-options h2 {
        font-size: 1.5em;
    }

    .payment-option {
        flex-direction: column;
        align-items: center;
    }

    button#next-btn {
        width: 100%;
    }

    button#home-btn {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.8em;
    }

    .payment-options h2 {
        font-size: 1.3em;
    }

    .payment-option img {
        width: 130px;
        height: 50px;
    }

    .payment-option span {
        font-size: 1em;
    }

    button#next-btn {
        width: 100%;
    }

    button#home-btn {
        width: 100%;
    }
}
